#loginContent{
    background-color: hsl(24, 51%, 21%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: center;
}
#l_form{
    display: flex;
    align-items:center;
    position: relative;
    flex-direction: column;
    background-color: white;
    width:400px;
    padding:2em 0;
    heigth:auto;
    border-radius: 0.5em;
    gap:1.5em 0;
    justify-content: space-around;
    box-sizing:content-box;
    #l_img_cont{
       position: absolute;
       padding: 20% 40%;
       top: -140px;
       background-image: url('../../media/kisspng-dog-grooming-puppy-pet-veterinarian-dogs-5ab3e2fb839b14\ 1.webp');
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center;
       min-height: fit-content;
    }
    #l_dt_section{
        display: flex;
        flex-direction: column;
        gap: 1em 0;
        & label{
           display: flex;
           flex-direction: column;
           font-size: 24px;
           color: #50301A;
           & input{
            font-size: 20px;
            padding: 5px 10px;
            border: none;
            outline: none;
            border-bottom: 2px solid #50301A;
            &:focus{
               background-color: rgba(95, 158, 160,0.3);
               border-radius: 5px;
            }
           }
        }

    }
    #l_btn_group{
    display: flex;
    justify-content: space-around; 
    width: 100%;
    font-size: 20px;
    & button{
       background-color: #50301A;
       border-radius: 4px;
       color: white;
       min-width: 6em;
       padding:5px 0;
       border:1px solid white;
       &:hover{
           transition: ease-in 500ms;
           background-color: rgba(80, 48, 26,0.4);
       }
    }
    & .l_btn_cancel{
       background-color:white;
       border-radius: 5px;
       color: #50301A;
       min-width: 6em;
       padding:5px 0;
       border:1px solid #50301A;
    }
}


}
