.pg_subcont{
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
    margin-top: 1em;
    li{
        font-size: 18px;
        border-radius: 4px;
        list-style: none;
        padding: 0.2em 0.2em;
        width: 1.2em;
        text-align: center;
    }
    button{
        border-radius: 10em;
        padding:5px 10px;
        color:white;
        position:relative;
        display:flex;
        border:none;
        align-items: center;
        justify-content: center;
        background-color: cadetblue;
        font-weight: 800;
        font-size:20px;
        margin:0 2%;
        &:hover{
            background-color: rgba(95, 158, 160, 0.624);
        }
    }
}