#BackNav{
	position:fixed;
	width: 100%;
	top: 0;
	height: 60px;
	display: flex;
	align-items:center;
	z-index: 2;
	#IconBack{
		animation-name:Arrow;
		animation-duration:2s;
	    animation-iteration-count:infinite;
		font-size: 2em;
		margin-left: 20px;
		font-weight: 500;
		color: white;
		&:hover{
			border-bottom:1px solid white;
		}
	}
}
@keyframes Arrow{
	0%{
		margin-left: 20px;
	}
	50%{
		margin-left: 30px;
	}
	100%{
		margin-left: 20px;
	}
}